@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}



/* Кнопка */
.btn {
    display: inline-block;
    padding: 7px 22px;
    background-color: #070707;
    border-radius: 30px;
    font-size: 18px;
    color: #FFFFFF;

    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}
.btn:hover, .btn:focus {
    background-color: #323232;
}

.btn:active {
    position: relative;
    top: 1px;
    background-color: #000000;
}



/* Шапка сайта*/
.header {
    padding-top: 46px;
    background-color: #F1F1F1;
    margin-bottom: 90px;
}
.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

/* Логотип */
.logo {
    position: relative;
    padding: 0 12px 3px 0;

    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: #000;
}
.logo::after {
    position: absolute;
    right: 0;
    bottom: 0;

    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: rgba(253, 163, 0,1);
    border-radius: 50%;
}


/* Горизонтальное меню */
.head-nav-logo
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}
.nav-list {
    display: flex;
    column-gap: 20px;
    font-size: 18px;
}

.nav-link {
    color: rgba(1, 1, 1, 1)
    
}
.nav-link.active {
    color: rgba(253, 163, 0,1)
}
/* =================================*/

.header-description {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    
}
.head-content {
    max-width: 500px;
    margin-top: 124px;
    
}
.head-content p {
    line-height: 2;
    font-size: 14px;
}
.header-heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 44px;
}
.head-image picture img{
    max-width: 494px;
    max-height: 613px;
}


/* Секция карточек*/
.services-row {
    display: flex;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}
.services-card {
    flex: 1 1 0;
    
    min-width: 315px;
}
.services-card p {
    line-height: 2;
    font-size: 18px;
}
.services-card-img {
    padding-bottom: 30px;
    
}
.services-card-title { 
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    padding-bottom: 10px;
}

.services {
    margin-bottom: 90px;
}


/*     portfolio works     */
.portfolio {
    padding: 90px 0;
    background-color: #F1F1F1;
}
.portfolio-works + .portfolio-works  {
    margin-top: 90px;
}
.title-style {
    font-weight: bold;
    text-align: center;
    font-size: 34px;
    margin-bottom: 70px;
}
.portfolio-works-img {
    margin-bottom: 40px;
}
.portfolio-works {
    text-align: center;
}
.project-title {
    font-size: 18px;
    text-decoration: underline;
    
}
.project-title a {
    color: black;
    
}


/*      footer          */
.footer {
    padding: 90px 0;
    text-align: center;
}
.footer-description {
    margin: 0 auto 40px;
    max-width: 350px;
    font-size: 18px;
}
.footer-button {
    margin-bottom: 80px;
}
.footer-ico {
    display: flex;
    column-gap: 60px;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
.footer-label {
    color: #828282;
    font-size: 14px;
}




/* адаптив */

.btn-open {
    display: none;
}